In [2]:
x = 2
y = 5

In [3]:
z = x+y

print(z)

7

In [ ]:
Rules for declaring the Variable:

In [ ]:
Rule 1: No Namespace while declaring the Varable

In [7]:
First Name = "Chandan"

print (First name)

SyntaxError: invalid syntax (1216000081.py, line 1)

In [9]:
firstname = 'Chandan'
print(firstname)

Chandan

In [10]:
first_name = 'Chandan'
print(firstname)

Chandan

In [ ]:
Rule No 2 : A variable name should not start with number

In [11]:
1firstname = 'chandan'
print(1firstname)

SyntaxError: invalid decimal literal (471478433.py, line 1)

In [12]:
firstname1 = 'chandan'
print(firstname1)

chandan

In [ ]:
Introduction to datatypes in python :

In [ ]:
1. String --- str
2. Number --- integers (int), float(decimal numbers)
3. lists  --- list
4. tuples --- tuple
5. dictionaries --- dict

In [ ]:
Classification of Datatype :
    1. Mutable Datatype --- which can be edit/altered
    2. imutable Datatype --- which cannot be edit/altered

In [ ]:
Introduction to String Datatype:

Defination: A string is a series of characters declared in quotes(Single or Double).
Classification: It is  classified as an immutable datatype
    
    How to declare the string ?
    1. Single quote
    2. Double quote

In [13]:
name = 'chandan'  #single quote
print(name)

chandan

In [15]:
name = "chandan"  #Double quote
print(name)

chandan